*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.container{
    background-color: rgba(255, 255, 255, 0.159);
    border: 1px solid rgba(255, 255, 255, 0.159);
    font-size: 40px;
    padding: 10px;
    border-radius: 5%;
    color: white;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
}

p{
    /* margin-left: 100%; */
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes moving{
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -100%;
    }
}