*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */



input{
    width: 150px;
    height: 100px;
    font-size: 75px;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    background-color: #000;
    border-style: none;
    text-align: center;
}

#myform{
    margin-left: 225px;
    margin-top: 20px;
    
}

h1{
    text-align: center;
    font-size: 80px;
    margin-right: 150px;
    margin-top: 20px;
}