.container{
    height: 200px;
    width: 200px;
    /* background-color:yellow; */
    /* box-shadow: 10px 10px blueviolet; */
    /* box-shadow:0px 0px 10px 10px blue; */
    /* box-shadow: inset 10px 10px blue; */
    /* border-radius: 50%;
    box-shadow: 0px 0px 10px 10px red; */
    background-color: white;
    overflow: scroll;



    /* offset-x  offset-y  blue-radius spread-radius*/
}