*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: black;
    color: white;
    font-size: 40px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 2fr 2fr 1fr;
    height: 800px;
    width: 800px;
    gap: 20px;
    padding: 10px;

}

.Box{
    background-color: blue;
}

.Header{
    grid-column-start: 1;
    grid-column-end: 4;
}

.SlideBar{
    grid-row-start: 2;
    grid-row-end: 4;
}

.Content1{
    grid-column: 2/4;
}

.Footer{
    grid-column-start: 1;
    grid-column-end: 4;
}
.Content2{
    grid-column-start: 2;

}
.Content3{
    grid-column-start: 3;
}