*{
    padding: 0px;
    margin: 0px;
}


body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);

}

.White{
    background-color: white;
}

.Brown{
    background-color: brown;
}