*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}


body{
    background-color: rgb(204, 152, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h1{
    text-align: center;
    margin-bottom: 20px;
}

#box{
    background-color: white;
    width: 350px;
    /* height: 600px; */
    padding: 60px;
    border-radius: 10px;
}

label{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}


input{
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 25px;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 20px;
}

button{
    width: 50%;
    height: 10%;
    font-size: 20px;
    background-color: rgb(74, 74, 112);
    
}